.register-root-container {
  width: 100%;
  height: 100%;
  display: flex;
  background-image: url('../../../static/images/sys_default_img.png');
  background-repeat: no-repeat;
  background-size: cover;
  .register-left {
    width: 60%;
  }
  .register-right {
    width: 40%;
    display: flex;
    align-items: center;
    .register-form {
      width: 280px;
      .register-title {
        color: #fff;
        font-size: 36px;
      }
      .register-button, .register-language, .register-user, .register-pwd {
        display: block;
        margin-bottom: 30px;
      }
      .register-button {
        &:hover {
          cursor: pointer;
        }
      }
      .paw-stre-container {
        list-style: none;
        display: flex;
        flex-direction: row;
        width: 60%;
        justify-content: space-between;
        padding: 0;
        padding-left: 10px;
        margin-top: -20px;
        li {
          width: 50px;
          height: 10px;
          border: 1px solid #4d4b4b;
        }
        li:nth-child(1).paw-stre-full {
          background-color: #ca2e2e;
          border: 1px solid #ca2e2e;
        }
        li:nth-child(2).paw-stre-full {
          background-color: #d7af38;
          border: 1px solid #d7af38;
        }
        li:nth-child(3).paw-stre-full {
          background-color: #20cf46;
          border: 1px solid #20cf46;
        }
      }
      .paw-stre-container-err {
        margin-top: 0;
      }
    }
  }
}